<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ConnRepository" value="3/Gkoq2iV3xpbf5vo8Bp5nqMBACbrsqJ7iaB9GheWsXxaWTySckGJq/uld7oZ7TcloJCP2gRQ1ohNvzGauGQ+eygkOOjHwnOb71zNRfFFMg9YHsx+F77LlclawiCSbC46/EuljG9LO4QBH7CZRjTdE6Z5R7HKAEe2UU6CYXYMXM="/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Pooler.SVC.Pooler">

        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Pooler.SVC.IPooler" />

      </service>
    </services>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>
